@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, 	#F24171,#A60522, #F20732);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* container principal */
.form-container {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Títulos */
h1 {
  color: #E91E63;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  text-align: left;
  font-weight: 600;
  color: #444;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #E91E63;
  box-shadow: 0 0 5px rgba(233, 30, 99, 0.3);
}

textarea {
  resize: none;
  height: 70px;
}

/* Botão */
button {
  background: #E91E63;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background: #C2185B;
}

/* Interesses */
.interesses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  margin-top: 5px;
  text-align: left;
}

.interesses label {
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 5px 6px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.3s;
}

.interesses label:hover {
  background: #FDE4E8;
}

/* Responsividade */
@media (max-width: 480px) {
  .form-container {
    padding: 30px 20px;
    max-width: 95%;
  }

  h1 {
    font-size: 1.3rem;
  }

  p, label, input, textarea, button {
    font-size: 0.85rem;
  }

  button {
    padding: 9px;
  }

  .interesses {
    grid-template-columns: 1fr;
  }
}
